/* START: CROPPING THE SPACEX LOGO TO KEEP IT FULLY LINKED TO A URL */
.image-container {
	height: 150px;
	width: 150px;
	/* overflow: hidden; */
}

#logo-image {
	height: 100px;
	width: auto;
	margin: 0 20vw 0 30vw;
}

/* END: CROPPING THE SPACEX LOGO */
